﻿@*@model MenuItem
    @using MyApplication.Models*@

@{
    ViewData["Title"] = "Vessel Schedule Estimate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
}
<header class="header">
    <div class="header-info">
        <div class="left">
            <h2 class="header-title">
                <ol class="breadcrumb">
                    @*<li class="breadcrumb-item"><a href="#">Vessel Planning</a></li>*@
                    <li class="breadcrumb-item active" aria-current="page">Vessel Schedule <b>Estimate</b></li>
                </ol>
            </h2>
        </div>
        <div class="right">
            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="container-fluid">
    </div>
</header>
<div class="main-content container-fluid">
    <div class="row">
        <div class="col-12">
            <form class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-light fw-400">Vessel Information</h5>
                            <br>
                            <div class="form-group">
                                <label class="text-fader">Vessel</label>
                                <select class="form-control select2" name="vessel"> </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h5 class="text-light fw-400">&nbsp;</h5>
                            <br>
                            <div class="form-group">
                                <label class="text-fader">Agent</label>
                                <select class="form-control select2 " name="agen"> </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <br>
                                    <h5 class="text-light fw-400">Estimation Time</h5>
                                    <br>

                                    <div class="form-group">
                                        <label class="text-fader">Arrival</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datetimepicker" placeholder="Arrival" name="arrival" aria-describedby="basic-addon2">
                                            <span class="input-group-addon" id="basic-addon2"><i class="ti-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-fader">Departure</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datetimepicker" placeholder="Departure" name="departure" aria-describedby="basic-addon2">
                                            <span class="input-group-addon" id="basic-addon2"><i class="ti-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <h5 class="text-light fw-400">&nbsp;</h5>
                                    <br>
                                    <div class="form-group">
                                        <label class="text-fader">Wharfag</label>
                                        <select class="form-control select2" name="wharfag"> </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="text-fader">Kode Meter</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control maskNumeric text-center" type="text" name="ZKdFrom" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control maskNumeric  text-center" type="text" name="ZKdTo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <br>
                                    <h5 class="text-light fw-400">Port Information</h5>
                                    <br>
                                    <div class="form-group">
                                        <label class="text-fader">Origin</label>
                                        <select class="form-control select2" name="origin"> </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-fader">Next</label>
                                        <select class="form-control select2" name="next"> </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <br>
                                    <h5 class="text-light fw-400">&nbsp;</h5>
                                    <br>
                                    <div class="form-group">
                                        <label class="text-fader">Previous</label>
                                        <select class="form-control select2 " name="prev"> </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-fader">Destination</label>
                                        <select class="form-control select2 " name="dest"> </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-fader">Additional Remark</label>
                                <textarea class="form-control" name="remark"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer text-right container">
                    <button class="btn btn-secondary btn-round" type="reset" id="erase"><i class="fa fa-eraser"></i> Erase</button>
                    <button class="btn btn-primary btn-round" type="button" id="save"><i class="fa fa-save"></i> Save</button>
                </footer>
            </form>
        </div>
    </div>
</div>
<!--/.main-content -->

@section scripts
    {
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-inputmask/inputmask.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-inputmask/inputmask.numeric.extensions.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-inputmask/jquery.inputmask.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/js/pages/VesselPlanning/VesselScheduleEstimate.js" asp-append-version="true"></script>
}