﻿@model LoginViewModel
@using MyApplication.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="theme-color" content="#ffffff" />
    <title>SPINER LOGIN | PT. Pelindo III</title>

    <!-- PWA -->
    <link rel="manifest" href="~/manifest.json" />

    <!-- Styles -->
    <link rel="stylesheet" href="~/core/css/core.min.css" asp-append-version="false"  />
    <link rel="stylesheet" href="~/core/css/app.css" asp-append-version="false"  />
    <link rel="stylesheet" href="~/core/css/style.css" asp-append-version="false"  />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/media/img/apple-touch-icon.png">
    <link rel="icon" href="~/favicon.ico">
</head>
<body>

    <div class="row no-gutters min-h-fullscreen bg-white">
        <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url(~/media/img/gallery/2.jpg)" data-overlay="5">
            <div class="row h-100 pl-50">
                <div class="col-md-10 col-lg-8 align-self-end">
                    <img src="~/media/img/logo-icon-light.png" alt="...">
                    <br><br><br>
                    <h4 class="text-white">The admin is the best admin framework available online.</h4>
                    <p class="text-white">Credibly transition sticky users after backward-compatible web services. Compellingly strategize team building interfaces.</p>
                    <br><br>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
            <div class="px-80 py-30">
                <h4>Login</h4>
                <p><small>Sign into your account</small></p>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-type-material">
                    @if (ViewData?.ModelState[""]?.Errors?.Any() == true)
                    {
                        <div class="form-group">
                            <div asp-validation-summary="All"  DisplayMode="BulletList"  HeaderText="Errors : " class="alert alert-danger" role="alert"></div>
                        </div>
                    }
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="UserName">
                        <label asp-for="UserName">Username</label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" asp-for="Password">
                        <label asp-for="Password">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group flexbox">
                        <label asp-for="RememberMe" class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="RememberMe" class="custom-control-input" />
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Remember me</span>
                        </label>
                        @*<a class="text-muted hover-primary fs-13" href="#">Forgot password?</a>*@
                    </div>
                    <div class="form-group">
                        <button class="btn btn-bold btn-block btn-primary" type="submit">Login</button>
                    </div>
                </form>
                <hr class="w-30px">
            </div>
        </div>
    </div>
    <!-- END Main container -->

    <!-- Scripts -->
    <script src="~/core/js/core.min.js" asp-append-version="false"></script>
    <script src="~/core/js/app.min.js" asp-append-version="false"></script>
   
</body>
</html>