﻿<footer class="site-footer">
    <div class="row">
        <div class="col-md-6">
            <p class="text-center text-md-left"><a href="https://www.pelindo.co.id">PT. Pelabuhan IndonesiaIII (Persero)</a></p>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-primary justify-content-center justify-content-md-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">ICT Solution</a>
                </li>
            </ul>
        </div>
    </div>
</footer>