﻿<header class="topbar">
    <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>
    </div>
    <div class="topbar-right">
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-area="" asp-antiforgery="false" asp-controller="Account" asp-action="SignOff" method="post" id="logoutForm"  class="form-inline">
                <button class="btn btn-dark btn-sm rounded" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Log off</button>
            </form>
            <ul class="topbar-btns">
                <li class="dropdown d-none d-md-block">
                    <span class="topbar-btn" data-toggle="dropdown"><i class="material-icons">comment</i></span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="media-list media-list-divided media-list-hover media-list-xs scrollable" style="height: 290px">
                            <a class="media media-new" href="../page-app/mailbox-single.html">
                                <span class="avatar status-success">
                                    <img src="~/media/img/avatar/1.jpg" alt="...">
                                </span>
                                <div class="media-body">
                                    <p><strong>Maryam Amiri</strong> <time class="float-right" datetime="2017-07-14 20:00">23 min ago</time></p>
                                    <p class="text-truncate">Authoritatively exploit resource maximizing technologies before technically.</p>
                                </div>
                            </a>
                            <a class="media media-new" href="../page-app/mailbox-single.html">
                                <span class="avatar status-warning">
                                    <img src="~/media/img/avatar/2.jpg" alt="...">
                                </span>
                                <div class="media-body">
                                    <p><strong>Hossein Shams</strong> <time class="float-right" datetime="2017-07-14 20:00">48 min ago</time></p>
                                    <p class="text-truncate">Continually plagiarize efficient interfaces after bricks-and-clicks niches.</p>
                                </div>
                            </a>
                            <a class="media" href="../page-app/mailbox-single.html">
                                <span class="avatar status-dark">
                                    <img src="~/media/img/avatar/3.jpg" alt="...">
                                </span>
                                <div class="media-body">
                                    <p><strong>Helen Bennett</strong> <time class="float-right" datetime="2017-07-14 20:00">3 hours ago</time></p>
                                    <p class="text-truncate">Objectively underwhelm cross-unit web-readiness before sticky outsourcing.</p>
                                </div>
                            </a>
                            <a class="media" href="../page-app/mailbox-single.html">
                                <span class="avatar status-success bg-purple">FT</span>
                                <div class="media-body">
                                    <p><strong>Fidel Tonn</strong> <time class="float-right" datetime="2017-07-14 20:00">21 hours ago</time></p>
                                    <p class="text-truncate">Interactively innovate transparent relationships with holistic infrastructures.</p>
                                </div>
                            </a>
                            <a class="media" href="../page-app/mailbox-single.html">
                                <span class="avatar status-danger">
                                    <img src="../~/media/img/avatar/4.jpg" alt="...">
                                </span>
                                <div class="media-body">
                                    <p><strong>Freddie Arends</strong> <time class="float-right" datetime="2017-07-14 20:00">Yesterday</time></p>
                                    <p class="text-truncate">Collaboratively visualize corporate initiatives for web-enabled value.</p>
                                </div>
                            </a>
                            <a class="media" href="../page-app/mailbox-single.html">
                                <span class="avatar status-success">
                                    <img src="../~/media/img/avatar/5.jpg" alt="...">
                                </span>
                                <div class="media-body">
                                    <p><strong>Freddie Arends</strong> <time class="float-right" datetime="2017-07-14 20:00">Yesterday</time></p>
                                    <p class="text-truncate">Interactively reinvent standards compliant supply chains through next-generation bandwidth.</p>
                                </div>
                            </a>
                        </div>
                        <div class="dropdown-footer">
                            <div class="left">
                                <a href="#">Read all messages</a>
                            </div>
                            <div class="right">
                                <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                                <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown d-none d-md-block">
                    <span class="topbar-btn" data-toggle="dropdown"><i class="material-icons">notifications</i></span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="media-list media-list-hover media-list-divided media-list-xs">
                            <a class="media media-new" href="#">
                                <span class="avatar bg-success"><i class="ti-user"></i></span>
                                <div class="media-body">
                                    <p>New user registered</p>
                                    <time datetime="2017-07-14 20:00">Just now</time>
                                </div>
                            </a>
                            <a class="media" href="#">
                                <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
                                <div class="media-body">
                                    <p>New order received</p>
                                    <time datetime="2017-07-14 20:00">2 min ago</time>
                                </div>
                            </a>
                            <a class="media" href="#">
                                <span class="avatar bg-warning"><i class="ti-face-sad"></i></span>
                                <div class="media-body">
                                    <p>Refund request from <b>Ashlyn Culotta</b></p>
                                    <time datetime="2017-07-14 20:00">24 min ago</time>
                                </div>
                            </a>
                            <a class="media" href="#">
                                <span class="avatar bg-primary"><i class="ti-money"></i></span>
                                <div class="media-body">
                                    <p>New payment has made through PayPal</p>
                                    <time datetime="2017-07-14 20:00">53 min ago</time>
                                </div>
                            </a>
                        </div>
                        <div class="dropdown-footer">
                            <div class="left">
                                <a href="#">Read all notifications</a>
                            </div>
                            <div class="right">
                                <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                                <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
                                <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Information -->
                <li class="dropdown d-none d-md-block">
                    <span class="topbar-btn"><i class="material-icons">info</i></span>
                </li>
                <!-- END Info -->
                <!-- Folder -->
                <li class="dropdown d-none d-md-block">
                    <span class="topbar-btn"><i class="material-icons">folder_shared</i></span>
                </li>
                <!-- END Folder -->
                <!-- Doc -->
                <li class="dropdown d-none d-md-block">
                    <span class="topbar-btn"><i class="material-icons">description</i></span>
                </li>
                <!-- END Doc -->
            </ul>
        }
        else
        {
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-dark btn-sm rounded" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Login</a>
        }
    </div>
</header>