﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="theme-color" content="#ffffff" />

    <title>@(ViewData["Title"] !=null ? ViewData["Title"] : "SPINER") | PT. Pelindo III</title>
    
    <!-- PWA -->
    <link rel="manifest" href="/manifest.json" />
    
    <!-- Styles -->
    <link rel="stylesheet" href="~/lib/material-icons/css/material-icons.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/lib/icomoon/styles.css" asp-append-version="false" />

    <link rel="stylesheet" href="~/core/css/core.min.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/core/css/app.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/core/css/style.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/core/css/custom.css" asp-append-version="false" />

    @*<link rel="stylesheet" href="~/lib/toastr/toastr.css" asp-append-version="true" />*@

    @RenderSection("Styles", required: false)

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/media/img/apple-touch-icon.png">
    <link rel="icon" href="~/favicon.ico">
</head>
<body>

    <!-- Preloader  -->
    <div class="preloader">
        <div class="spinner-dots">
            <span class="dot1"></span>
            <span class="dot2"></span>
            <span class="dot3"></span>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Sidebar -->
    <aside class="sidebar sidebar-color-info sidebar-light sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
        <header class="sidebar-header grad-blue">
            <span class="logo">

                <img src="~/media/img/spiner_logo.png" alt="SPINER">
                @*<a asp-area="" asp-controller="Dashboard" asp-action="Index" class="navbar-brand">SPINER</a>*@
            </span>
            <span class="sidebar-toggle-fold"></span>
        </header>
        <nav class="sidebar-navigation">
            <div class="sidebar-profile">
                <div class="dropdown">
                    <span class="dropdown-toggle no-caret" data-toggle="dropdown">
                        <img class="img-thumbnail img-thumbnail-sidebar" src="~/media/img/avatar/2.jpg" alt="...">
                    </span>
                    <div class="dropdown-menu open-top-center">
                        <a class="dropdown-item" href="#"><i class="ti-user"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                        <a class="dropdown-item" href="#"><i class="ti-help"></i> Help</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="ti-power-off"></i> Logout</a>
                    </div>
                </div>
                <div class="profile-info">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h4 class="mb-0">@User.Identity.Name</h4>
                        <p>Administrator Mirah</p>
                    }
                </div>
            </div>
            <ul class="menu  menu-bordery">
                @await Html.PartialAsync("_Menu")
            </ul>
        </nav>
    </aside>
    <!-- END Sidebar -->

    <!-- Topbar -->
    @await Html.PartialAsync("_Header")
    <!-- END Topbar -->

    <!-- Main container -->
    <main class="main-container">

        @RenderBody()

        <br/>

        <!-- Footer -->
       @await Html.PartialAsync("_Footer")
        <!-- END Footer -->
    </main>
    <!-- END Main container -->

    @*@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery;
    @{
        var AntiforgeryRequestToken = antiforgery.GetAndStoreTokens(Context).RequestToken;
    }*@

    <!-- Scripts -->
    <script src="~/core/js/core.min.js" asp-append-version="false"></script>
    <script src="~/core/js/app.min.js" asp-append-version="false"></script>
    @*<script src="~/lib/toastr/toastr.min.js" asp-append-version="true"></script>*@
    <script src="~/lib/moment/moment.js" asp-append-version="true"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/core/js/script.min.js" asp-append-version="false"></script>

    @*<script>
        //Render the token in a property readable from your client JavaScript
        app.AntiforgeryToken = @Json.Serialize(AntiforgeryRequestToken);
    </script>*@

    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        navigator.serviceWorker.addEventListener('message', function (event) {
            reply = processMessage(event.data);
            event.ports[0].postMessage(reply);
        });

        // Send message to service worker
        function send_message_to_sw(msg) {
            navigator.serviceWorker.controller.postMessage(msg);
        }

        // Show online/offline status
        window.addEventListener('online', updateOnlineStatus);
        window.addEventListener('offline', updateOnlineStatus);

        function updateOnlineStatus(event) {
            var condition = navigator.onLine ? "Live" : "Currently offline";
            notify(condition);
        }

        // Notification
        function notify(msg) {
            if (!("Notification" in window)) {
                alert("This browser does not support desktop notification");
            } else if (Notification.permission === "granted") {
                // If it's okay let's create a notification
                var notification = new Notification(msg);
            } else if (Notification.permission !== "denied") {
                Notification.requestPermission(function (permission) {
                    // If the user accepts, let's create a notification
                    if (permission === "granted") {
                        var notification = new Notification(msg);
                    }
                });
            }
        }

        function processMessage(msgObj) {
            try {
                if (msgObj.type == 1) {
                    notify(msgObj.message);
                    return "received";
                }
                console.log(msgObj);
            } catch (err) {
                console.log(err);
            }
        }

        $(function () {
            $(document).ajaxError(function (xhr, props) {
                if (props.status == 500) {
                    swal('HTTP Error 500', 'Internal Server Error. Reload the web page. You can do that by clicking the refresh or reload button, pressing F5 or Ctrl-R, or trying the URL again from the address bar', 'error');
                }else if (props.status == 403) {
                    window.location.replace("/Account/AccessDenied");
                }else if (props.status == 404) {
                    window.location.replace("/Account/PageNotFound");
                } else if (props.status == 401) {
                    window.location.replace("/Account/Login");
                } else if (props.status == 400) {
                    swal('HTTP Error 400', 'Bad Request. Your browser sent a request that this server could not understand.', 'error');
                }
            });
        });
    </script>


</body>
</html>
