﻿<li class="menu-category">MAIN APPLICATION</li>
<li class="menu-item">
    <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="menu-link">
        <span class="icon fa fa-home"></span>
        <span class="title">Dashboard</span>
    </a>
</li>

<li class="menu-item">
    <a class="menu-link" href="#">
        <span class="icon fa fa-compass"></span>
        <span class="title">Vessel Planning</span>
        <span class="arrow"></span>
    </a>
    <ul class="menu-submenu">
        <li class="menu-item">
            <a class="menu-link" asp-area="VesselPlanning" asp-controller="VesselScheduleEstimate" asp-action="Index" >
                <span class="dot"></span>
                <span class="title">Vessel Schedule Estimation</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#" target="_blank">
                <span class="dot"></span>
                <span class="title">Vessel Schedule Plan</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#" target="_blank">
                <span class="dot"></span>
                <span class="title">Relokasi (Non Vessel)</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#" target="_blank">
                <span class="dot"></span>
                <span class="title">Stripping Stuffing</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#" target="_blank">
                <span class="dot"></span>
                <span class="title">Maintenance and Repair</span>
            </a>
        </li>
    </ul>
</li>
<li class="menu-item">
    <a class="menu-link" href="#">
        <span class="icon fa fa-compass"></span>
        <span class="title">Booking service</span>
        <span class="arrow"></span>
    </a>
    <ul class="menu-submenu">
        <li class="menu-item">
            <a class="menu-link" href="#" target="_blank">
                <span class="dot"></span>
                <span class="title">Receiving SS</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#" target="_blank">
                <span class="dot"></span>
                <span class="title">Delivery SS</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#" target="_blank">
                <span class="dot"></span>
                <span class="title">Relokasi (Non Vessel)</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#" target="_blank">
                <span class="dot"></span>
                <span class="title">Stripping Stuffing</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#" target="_blank">
                <span class="dot"></span>
                <span class="title">Maintenance and Repair</span>
            </a>
        </li>
    </ul>
</li>

<li class="menu-item">
    <a class="menu-link" href="#">
        <span class="icon fa fa-car"></span>
        <span class="title">Operasional</span>
        <span class="arrow"></span>
    </a>
    <ul class="menu-submenu">
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Receiving & Delivery</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Relokasi</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Stripping & Stuffing</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Maintenance & Repair</span>
            </a>
        </li>
    </ul>
</li>

<li class="menu-item">
    <a class="menu-link" href="#">
        <span class="icon fa fa-television"></span>
        <span class="title">Aktivitas</span>
        <span class="arrow"></span>
    </a>
    <ul class="menu-submenu">
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Yard</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Report</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Operation</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Finance</span>
            </a>
        </li>
    </ul>
</li>

<li class="menu-item">
    <a class="menu-link" href="#">
        <span class="icon fa fa-clone"></span>
        <span class="title">EPB</span>
        <span class="arrow"></span>
    </a>
    <ul class="menu-submenu">
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Fiost Calculation</span>
            </a>
        </li>
    </ul>
</li>

<li class="menu-item">
    <a class="menu-link" href="#">
        <span class="icon fa fa-history"></span>
        <span class="title">Billing</span>
        <span class="arrow"></span>
    </a>
    <ul class="menu-submenu">
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Deposit Payment Entry</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Package Pre-Invoice</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="dot"></span>
                <span class="title">Approval package Pre-Invoice</span>
            </a>
        </li>
    </ul>
</li>

<li class="menu-item">
    <a class="menu-link" href="#">
        <span class="icon fa fa-cog"></span>
        <span class="title">Settings</span>
        <span class="arrow"></span>
    </a>
    <ul class="menu-submenu">
        <li class="menu-item">
            <a asp-area="Settings" asp-controller="Privilege" asp-action="Index" class="menu-link">
                <span class="dot"></span>
                <span class="title">Assigment Privileges</span>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="Settings" asp-controller="Menu" asp-action="Index" class="menu-link">
                <span class="dot"></span>
                <span class="title">Menu Maintenance</span>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="Settings" asp-controller="Role" asp-action="Index" class="menu-link">
                <span class="dot"></span>
                <span class="title">Master Roles</span>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="Settings" asp-controller="Permission" asp-action="Index" class="menu-link">
                <span class="dot"></span>
                <span class="title">Master Permissions</span>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="Settings" asp-controller="User" asp-action="Index" class="menu-link">
                <span class="dot"></span>
                <span class="title">Users Online</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="menu-copy.html">
                <span class="dot"></span>
                <span class="title">Copy Menu</span>
            </a>
        </li>
    </ul>
</li>
