﻿@model MyApplication.Models.BootstrapModel
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="@Model.AreaLabeledId" class="modal modal-center fade" id="@Model.ID" tabindex="-1">
    <div class="modal-dialog  @Model.ModalSizeClass">
        <div class="modal-content">
            
        </div>
    </div>
</div>
<!-- END Modal -->