﻿@model MyApplication.Models.ModalHeader

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">@*<i class="fa fa-plus-circle" aria-hidden="true"></i>*@ @Model.Heading</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>