﻿@model MyApplication.Models.ModalFooter

<div class="modal-footer grad-blue">
    <button type="button" id="@Model.CancelButtonID" class="btn btn-bold btn-pure text-white" data-dismiss="modal"><i class="ti-close"></i> @Model.CancelButtonText</button>
    @if (!Model.OnlyCancelButton)
    {
        @if (!Model.OnlyCancelSaveButton)
        {
            <button type="button" id="@Model.EraseButtonID" class="btn btn-bold btn-pure text-white"><i class="ti-eraser"></i> @Model.EraseButtonText</button>
        }
        <button type="submit" class="btn btn-bold btn-pure text-white" id="@Model.SubmitButtonID"><i class="ti-check"></i> @Model.SubmitButtonText</button>
    }
</div>