﻿@{
    ViewData["Title"] = "Vessel Schedule Estimate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{ 
    <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/DataTables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" asp-append-version="true" />
}
<header class="header bg-ui-general">
    <div class="header-info">
        <div class="left">
            <h2 class="header-title"  >
                <ol class="breadcrumb">
                    @*<li class="breadcrumb-item"><a href="#">Vessel Planning</a></li>*@
                    <li class="breadcrumb-item active" aria-current="page">Vessel Schedule <b>Estimate</b></li>
                </ol>
            </h2>
        </div>
        <div class="right">
            <a  href="#" class="btn  btn-pure mr-10" title="Click Here to Switch" onclick="$('#list').prop('hidden') ? ($('#create').prop('hidden', true),$('#list').prop('hidden', false)) : ($('#list').prop('hidden', true),$('#create').prop('hidden', false))"><i class="fa fa-exchange fa-3x" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="container-fluid">
    </div>
</header>
<div class="main-content container-fluid">
    <div class="row">
        <div class="col-12">
            <form class="card " id="create">
                <h4 class="card-title"><b> Create </b>Vessel Schedule Estimate</h4>
                <div class="card-body form-type-material">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-light fw-400">Vessel Information</h5>
                            <br>
                            <div class="form-group">
                                <label class="label-floated">Vessel</label>
                                <select class="form-control select2" name="vessel"> </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h5 class="text-light fw-400">&nbsp;</h5>
                            <br>
                            <div class="form-group">
                                <label class="label-floated">Agent</label>
                                <select class="form-control select2 "  name="agen"> </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <br>
                                    <h5 class="text-light fw-400">Estimation Time</h5>
                                    <br>

                                    <div class="form-group">
                                        <label class="text-fader">Arrival</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datetimepicker" placeholder="Arrival" name="arrival" aria-describedby="basic-addon2">
                                            <span class="input-group-addon" id="basic-addon2"><i class="ti-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-fader">Departure</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datetimepicker" placeholder="Departure" name="departure" aria-describedby="basic-addon2">
                                            <span class="input-group-addon" id="basic-addon2"><i class="ti-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <h5 class="text-light fw-400">&nbsp;</h5>
                                    <br>
                                    <div class="form-group">
                                        <label class="label-floated">Wharf</label>
                                        <select class="form-control select2" name="wharfag"> </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Kode From</label>
                                                <input class="form-control maskNumeric text-center" type="text" name="ZKdFrom" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-floated">Kode To</label>
                                                <input class="form-control maskNumeric  text-center" readonly type="text" name="ZKdTo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <br>
                                    <h5 class="text-light fw-400">Port Information</h5>
                                    <br>
                                    <div class="form-group">
                                        <label class="label-floated">Origin</label>
                                        <select class="form-control select2" name="origin"> </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="label-floated">Next</label>
                                        <select class="form-control select2" name="next"> </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <br>
                                    <h5 class="text-light fw-400">&nbsp;</h5>
                                    <br>
                                    <div class="form-group do-float">
                                        <label class="label-floated">Previous</label>
                                        <select class="form-control select2 " name="prev"> </select>
                                    </div>
                                    <div class="form-group do-float">
                                        <label class="label-floated">Destination</label>
                                        <select class="form-control select2 " name="dest"> </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-fader">Additional Remark</label>
                                <textarea class="form-control" name="remark"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer text-right container">
                    <button class="btn btn-secondary" type="button" id="erase"><i class="fa fa-eraser"></i> Erase</button>
                    <button class="btn btn-primary" type="button" id="save"><i class="fa fa-save"></i> Save</button>
                </footer>
            </form>
            <form class="card" id="list" hidden>
                <h4 class="card-title"><b> List of  </b>Vessel Schedule Estimate</h4>
                <div class="card-body form-type-material">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <table class="table table-striped table-bordered table-hover nowrap" id="MyDatatable" cellspacing="0" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th class="OnShow">Vessel Code</th>
                                        <th class="OnShow">Vessel Name</th>
                                        <th class="OnShow">Agent</th>
                                        <th class="OnShow">Est. Arrival Time</th>
                                        <th class="OnShow">Est. Departure Time</th>
                                        <th class="OnShow">Wharfage</th>
                                        <th class="none">Port (Previous)</th>
                                        <th class="none">Port (Next)</th>
                                        <th class="none">Port (Last)</th>
                                        <th class="none">Port (Destination)</th>
                                        <th class="none">GT - LOA</th>
                                        <th class="none">KD Start - End</th>
                                        <th class="OnShow">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class=""><div class="col-lg-12"> <span><i class="fa fa-circle text-cyan"></i> Opration Plan Approval</span> </div></div>
                        <div class=""><div class="col-lg-12"> <span><i class="fa fa-circle text-info"></i> Vessel Estimate</span> </div></div>
                        <div class=""><div class="col-lg-12"> <span><i class="fa fa-circle text-purple"></i> Voyage Notification</span> </div></div>
                        <div class=""><div class="col-lg-12"> <span><i class="fa fa-circle text-danger"></i> Opration Plan</span> </div></div>
                    </div>
                </div>
             </form>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" asp-append-version="true"></script>
    <script src="~/lib/inputmask/dist/jquery.inputmask.bundle.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/Responsive-2.2.1/js/dataTables.responsive.min.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/Responsive-2.2.1/js/responsive.bootstrap4.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.all.min.js" asp-append-version="true"></script>
    <script src="~/scripts/VesselPlanning/VesselScheduleEstimate.js" asp-append-version="true"></script>
}