﻿@{
    ViewBag.Title = "Hak Akses Setting";
    ViewBag.URL_HOST = Request.Url.GetLeftPart(UriPartial.Authority);
}

@using P3Apps.Models
@using P3Apps.Dapper
@using System.Text

@section css{
<link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
}

<div class="page-head">
    <div class="page-title">
        <h1>
            @ViewBag.Title
        </h1>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i> Hak Akses
                    </div>
                    @if (ViewBag.Hakkodekey != null) {
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                        </div>
                    }
                </div>
                <div class="portlet-body">
                    @{
                        if (ViewBag.HAK_ID == null)
                        {
                            ViewBag.HAK_FORM_ACTION = ViewBag.URL_HOST + "/Settings/HakAkses_Store";
                        }
                        else
                        {
                            ViewBag.Hak_Kode = Model[0].Hak_Kode;
                            ViewBag.Hak_Nama = Model[0].Hak_Nama;
                            ViewBag.HAK_FORM_ACTION = ViewBag.URL_POST + "/Settings/HakAkses_Update/" + Convert.ToBase64String(Encoding.UTF8.GetBytes(ViewBag.Hak_Kode));
                        }
                    }
                   
                        <form role="form" action="@ViewBag.HAK_FORM_ACTION" method="post" class="form-horizontal" id="form_validation_1" >
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button> Anda memiliki beberapa kesalahan inputan. Silakan cek di bawah ini.
                                </div>
                                @Html.AntiForgeryToken()
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label" for="form_control_1">
                                        Kode <span class="required">*</span> :
                                    </label>
                                    <div class="col-md-5">
                                            <input type="text" class="form-control" id="form_control_1" placeholder="Kode" name="Hak_Kode" value="@ViewBag.Hak_Kode">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">Maksimal inputan 75 huruf</span>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label" for="form_control_2">
                                        Nama <span class="required">*</span> :
                                    </label>
                                    <div class="col-md-5">
                                            <input type="text" class="form-control" id="form_control_2" placeholder="Nama" name="Hak_Nama" value="@ViewBag.Hak_Nama">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">Maksimal inputan 100 huruf</span>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <div class="col-md-7 control-label">
                                        <span class="font-red">Kolom bertanda ( * ) wajib di isi.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-8">
                                        @if (ViewBag.HAK_ID == null)
                                        {
                                            <div class="btn-group btn-group-solid">
                                                <button type="submit" class="btn blue"><i class="fa fa-plus"></i> Tambah</button>
                                                <button type="button" class="btn red-haze button-clear"><i class="fa fa-eraser"></i> Bersihkan</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="btn-group btn-group-solid">
                                                <button type="submit" class="btn blue">Edit</button>
                                                <a class="btn default" href="@ViewBag.URL_HOST/Settings/HakAkses">&nbsp;Cancel</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    <br />
                    <hr style="border-top: dotted 2px;margin-bottom:25px;" class="text-success" />
                        <table class="table table-striped table-bordered table-hover" id="datatable" cellspacing="0" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                </div>
            </div>
        </div>

    @if (ViewBag.Hakkodekey != null)
    {
        <div class="col-md-12">
            <div class="portlet box green" id="blockui">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-list"></i> Role
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a id="save-menu" class="btn default btn-sm" href="javascript:;" data-close-others="true">
                                <i class="fa fa-check"></i>
                                Update Role
                            </a>
                        </div>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="slimscroll">
                        <div class="col-md-12">
                            <div class="btn blue">
                                <div class="md-checkbox">
                                    <input type="checkbox" class="md-check" id="checkall" />&nbsp;
                                    <label for="checkall">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Check-All
                                    </label>
                                </div>
                            </div>
                            <div class="dd" id="nestable_list_1">
                                <ol class="dd-list">

                                    @{
                                        ISettings _GetMenu = new Settings();
                                        var MenuLists = new List<MenuModels>();
                                        MenuLists = _GetMenu.Menu("");
                                    }

                                    @BuildMenu(MenuLists)

                                    @helper  BuildMenu(List<MenuModels> MenuLists, int? parentid = null)
                                    {
                                        var items = MenuLists.Where(m => m.Menu_Parent_ID == parentid).OrderBy(n => n.Menu_URUT);

                                        if (items.Any())
                                        {
                                            foreach (var item in items)
                                            {
                                                
                                                var countChild = MenuLists.Where(m => m.Menu_Parent_ID == item.Menu_ID);
                                                <li class="dd-item">
                                                    <div class="dd-handle">
                                                        <div class="md-checkbox ca-target">
                                                        <input type="checkbox" data-id="@item.Menu_Parent_ID" class="md-check cb-@item.Menu_ID cbp-@item.Menu_Parent_ID" id="cb-@item.Menu_ID" name="cbmenu[]" value="@item.Menu_ID" @foreach (var item2 in Model as List<AksesMenuModels>) { if (@item.Menu_ID.ToString() == @item2.MENU_ID_KEY) { @ViewBag.Check } } />&nbsp; 
                                                            <label for="cb-@item.Menu_ID">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            @item.Menu_Nama
                                                            </label>
                                                        </div>
                                                    </div>
                                                    @if (countChild.Count() != 0)
                                                    {
                                                        <ol class="dd-list">
                                                            @BuildMenu(MenuLists, item.Menu_ID)
                                                        </ol>
                                                    }
                                                </li>
                                            }
                                        }
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input class="hidden" id="get-hakkodekey" type="text"  value="@ViewBag.Hakkodekey" />
        }
    </div>

    <div class="modal fade" id="DeleteModals" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" id="form_delete" method="post" class="form-horizontal" novalidate="novalidate">
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Delete</h4>
                    </div>
                    <div class="modal-body">
                        <span name="yesNoModalsMessage">Apakah anda yakin untuk menghapus item ini ?</span>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group btn-group-solid">
                            <button type="button" class="btn" data-dismiss="modal">Tidak</button>
                            <button type="submit" class="btn red">YA</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section scripts{
<script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Scripts/Settings/HakAksesCb.js" type="text/javascript"></script>
}