﻿@{
    ViewBag.Title = "Settings Menu";
    ViewBag.URL_HOST = Request.Url.GetLeftPart(UriPartial.Authority);
}

@using P3Apps.Models
@using P3Apps.Dapper
@using System.Text

@section css{
<link href="~/assets/global/plugins/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
}

<div class="page-head">
    <div class="page-title">
        <h1>
            @ViewBag.Title
        </h1>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-wrench"></i> Settings Menu
                    </div>
                    @*<div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>*@
                </div>
                <div class="portlet-body form">

                    @{
                        if (ViewBag.MENU_ID == null)
                        {
                            ViewBag.MENU_FORM_ACTION = ViewBag.URL_HOST + "/Settings/Menu_Store";
                        }
                        else
                        {
                            ViewBag.Menu_Nama = Model[0].Menu_Nama;
                            ViewBag.Menu_Url = Model[0].Menu_Url;
                            ViewBag.Menu_Alias = Model[0].Menu_Alias;
                            ViewBag.Menu_Parent_ID = Model[0].Menu_Parent_ID;
                            ViewBag.Menu_Icon = Model[0].Menu_Icon;
                            ViewBag.MENU_FORM_ACTION = ViewBag.URL_POST + "/Settings/Menu_Update/" + ViewBag.Menu_ID;
                        }
                    }

                    <form role="form" action="@ViewBag.MENU_FORM_ACTION" method="post" class="form-horizontal" id="form_validation_1">
                        <div class="form-body border-blue-chambray">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> Anda memiliki beberapa kesalahan inputan. Silakan cek di bawah ini.
                            </div>
                            @Html.AntiForgeryToken()
                            <div class="form-group form-md-line-input">
                                <label for="form_control_1" class="control-label col-md-4">Nama Menu
                                    <span class="required">*</span> :
                                </label>
                                <div class="col-md-5">
                                    <input type="text" id="form_control_1" name="Menu_Nama" placeholder="Nama Menu" value="@ViewBag.Menu_Nama" class="form-control">
                                    <div class="form-control-focus"></div>
                                    <span class="help-block">Maksimal inputan 100 huruf</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label for="form_control_2" class="control-label col-md-4">Nama Controller
                                    <span class="required">*</span> :
                                </label>
                                <div class="col-md-5">
                                    <input type="text" id="form_control_2" name="Menu_Alias" placeholder="Nama Controller" value="@ViewBag.Menu_Alias" class="form-control">
                                    <div class="form-control-focus"></div>
                                    <span class="help-block">Maksimal inputan 250 huruf</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label for="form_control_3" class="control-label col-md-4">Nama Function :</label>
                                <div class="col-md-5">
                                    <input type="text" id="form_control_3" name="Menu_Url" placeholder="Nama Function" value="@ViewBag.Menu_Url" class="form-control">
                                    <div class="form-control-focus"></div>
                                    <span class="help-block">Maksimal inputan 250 huruf</span>
                                </div>
                            </div>
                            @*<div class="form-group form-md-line-input">
                                <label for="form_control_4" class="control-label col-md-4">Parent ID :</label>
                                <div class="col-md-5">
                                    <input type="text" id="form_control_4" name="Menu_Parent_ID" placeholder="Parent ID" value="@ViewBag.Menu_Parent_ID" class="form-control mask_number">
                                    <div class="form-control-focus"></div>
                                    <span class="help-block">...</span>
                                </div>
                            </div>*@
                            <div class="form-group form-md-line-input">
                                <label for="form_control_5" class="control-label col-md-4">Menu Icon :</label>
                                <div class="col-md-5">
                                    <input type="text" id="form_control_5" name="Menu_Icon" placeholder="Menu Icon" value="@ViewBag.Menu_Icon" class="form-control">
                                    <div class="form-control-focus"></div>
                                    <span class="help-block">Maksimal inputan 20 huruf</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <div class="col-md-7 control-label">
                                    <span class="font-red">Kolom bertanda ( * ) wajib di isi.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-8">
                                    @if (ViewBag.MENU_ID == null)
                                    {
                                        <div class="btn-group btn-group-solid">
                                            <button type="submit" class="btn blue"><i class="fa fa-plus"></i> Tambah</button>
                                            <button type="button" class="btn red-haze button-clear"><i class="fa fa-eraser"></i> Bersihkan</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn-group btn-group-solid">
                                            <button type="submit" class="btn blue"> <i class="fa fa-edit"></i> Ubah</button>
                                            <a href="@ViewBag.HOST_URL/Settings/Menu" class="btn default"><i class="fa fa-close"></i> Batalakan</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet box green" id="blockui">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-list"></i> Structure Menu
                    </div>
                    <div class="actions">
                        <div id="nestable_list_menu">
                            <a class="btn default btn-sm" id="save-menu" href="javascript:;" data-close-others="true">
                                <i class="fa fa-check"></i> Update Structure
                            </a>
                            <button class="btn default btn-sm" type="button" data-action="expand-all"><i class="fa fa-plus"></i> Expand All</button>
                            <button class="btn default btn-sm" type="button" data-action="collapse-all"><i class="fa fa-minus"></i> Collapse All</button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="dd" id="nestable_list_1">
                        <ol class="dd-list">

                            @{
                                ISettings _GetMenu = new Settings();
                                var MenuLists = new List<MenuModels>();
                                MenuLists = _GetMenu.Menu("");
                            }

                            @BuildMenu(MenuLists)

                            @helper  BuildMenu(List<MenuModels> MenuLists, int? parentid = null)
                            {
                            var items = MenuLists.Where(m => m.Menu_Parent_ID == parentid).OrderBy(n => n.Menu_URUT);

                                if (items.Any())
                                {
                                    foreach (var item in items)
                                    {
                                        var countChild = MenuLists.Where(m => m.Menu_Parent_ID == item.Menu_ID);
                                            <li class="dd-item dd3-item" data-id="@item.Menu_Parent_ID:@item.Menu_ID">
                                                <div class="btn-group btn-group-solid" style="float:right;">
                                                    <a href="@ViewBag.HOST_URL/Settings/Menu_Edit/@Convert.ToBase64String(Encoding.UTF8.GetBytes(item.Menu_ID.ToString()))" style="height:28px; padding-top:5px; top:1px;" class="btn purple" title="Ubah Menu"><i class="fa fa-edit"></i></a>
                                                    
                                                    @if (countChild.Count() == 0) {
                                                        <a href="#hapus" onclick="ConfirmDelete('/Settings/Menu_Destroy/@Convert.ToBase64String(Encoding.UTF8.GetBytes(item.Menu_ID.ToString()))')" style="height:28px; padding-top:5px; top:1px;" class="btn red-haze" title="Hapus Menu"><i class="fa fa-trash"></i></a>
                                                    }
                                                </div>
                                                    <div class="dd-handle dd3-handle" style="background-color:#3598dc;">@item.Menu_Nama</div>
                                                    <div class="dd3-content">@item.Menu_Nama</div>
                                                @if (countChild.Count() != 0)
                                                {
                                                    <ol class="dd-list">
                                                        @BuildMenu(MenuLists, item.Menu_ID)
                                                    </ol>
                                                }
                                            </li>
                                    }
                                }
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DeleteModals" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" id="form_delete" method="post" class="form-horizontal" novalidate="novalidate">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Delete</h4>
                    </div>
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        <span name="yesNoModalsMessage">Apakah anda yakin untuk menghapus item ini ?</span>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group btn-group-solid">
                            <button type="button" class="btn" data-dismiss="modal">Tidak</button>
                            <button type="submit" class="btn red">YA</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section scripts{
<script src="~/assets/global/plugins/jquery-nestable/jquery.nestable.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery.blockui.min.js"></script>
<script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="~/Scripts/Settings/Menu.js" type="text/javascript"></script>
}