﻿@model MenuItem
@using MyApplication.Models

@await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = $"{(String.IsNullOrEmpty(Model.Id) ? "Add new" : "Edit")} menus" })
<form asp-action="AddEditMenu" asp-route-id="@Model.Id" role="form">
    <div class="modal-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control form-type-line" placeholder="Input Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Url">Url</label>
                        <input asp-for="Url" class="form-control form-type-line" placeholder="Input Url" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParentId">Parent Id</label>
                        <input asp-for="ParentId" class="form-control form-type-line" placeholder="Input Parent Id" />
                        <span asp-validation-for="ParentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Icon">Icon</label>
                        <input asp-for="Icon" class="form-control form-type-line" placeholder="Input Icon" />
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Order">Order</label>
                        <input asp-for="Order" class="form-control form-type-line" placeholder="Input Order" />
                        <span asp-validation-for="Order" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category">Category</label>
                        <input asp-for="Category" class="form-control form-type-line" placeholder="Input Category" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>
