﻿@model MyApplication.Models.MenuItem

@Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Menu" })
<form asp-action="DeleteMenu" asp-route-id="@Model.Id"   role="form">
    <div class="modal-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    Are you want to delete @Model.Name?
                </div>
            </div>
        </div>
    </div>
</form>
@Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete", OnlyCancelButton = true })
