﻿@model IEnumerable<MyApplication.Models.MenuItem>
@using MyApplication.Models

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header">
    <div class="header-info">
        <div class="left">
            <h2 class="header-title">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Settings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Menus Maintanance</li>
                </ol>
            </h2>
        </div>
        <div class="right">
            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center gap-y">
            <div class="col-sm-5">
                <a asp-action="AddEditMenu" class="btn btn-float btn-danger mr-10" data-toggle="modal" data-target="#modal-action"><i class="ti-plus"></i></a>
                Add new menus
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <h5 for="input-normal">Filter</h5>
                    <input type="text" class="form-control form-type-line" id="input-normal" placeholder="Masukan pencarian">
                </div>
            </div>
        </div>
    </div>
    <br><br>
</header>
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <table class="table table-separated">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name).ToUpper()
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Url).ToUpper()
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ParentId).ToUpper()
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Icon).ToUpper()
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order).ToUpper()
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category).ToUpper()
                        </th>
                        <th  class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Url)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParentId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Icon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Order)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td class="text-center">
                                <a id="addEditMenuModal" data-toggle="modal" asp-action="AddEditMenu" asp-route-id="@item.Id" data-target="#modal-action" class="btn btn-square btn-round btn-danger btn-sm">
                                    <i class="ti-pencil"></i>
                                </a>
                                <a id="deleteMenuModal" data-toggle="modal" asp-action="DeleteMenu" asp-route-id="@item.Id" data-target="#modal-action" class="btn btn-square btn-round btn-danger btn-sm">
                                    <i class="ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav>
                <ul class="pagination pagination-circle justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-left"></span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-right"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <br>
</div>
<!--/.main-content -->


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", AreaLabeledId = "modal-action-menu-label", Size = ModalSize.Large })

@section scripts
{
    <script src="~/js/menu.js" asp-append-version="true"></script>
}