﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pelabuhan Indonesia III</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta content="@GetAntiForgeryToken()" name="csrf-token">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @RenderSection("css", required: false)
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components-md.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/con-base.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/Content/Toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->

    <link rel="shortcut icon" href="~/assets/img/favicon.ico" />
</head>

@using P3Apps.Models
@using P3Apps.Dapper

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">
     <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/assets/img/logo.png" width="170" style="margin:20px 10px 0;" alt="anjungan" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN PAGE ACTIONS -->
                <!-- DOC: Remove "hide" class to enable the page header actions -->
                <div class="page-actions">
                    <div class="btn-group">
                    </div>
                </div>
                <!-- END PAGE ACTIONS -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="separator hide"> </li>
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username"> @User.Identity.Name </span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                <img alt="" class="img-circle" src="~/assets/layouts/layout4/img/avatar9.jpg" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                @*<li>
                                        <a href="#">
                                            <i class="icon-settings"></i> Edit Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-calendar"></i> Manual Book
                                        </a>
                                    </li>*@
                                @*<li class="divider"> </li>*@
                                @*<li>
                                    <a href="@Url.Action("ResetPassword", "Auth")">
                                        <i class="icon-refresh"></i> Reset Password
                                    </a>
                                </li>*@
                                <li>
                                    <a href="@Url.Action("Logout", "Auth")">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200">
                @{
                    ISettings _GetMenu = new Settings();
                    var MenuLists = new List<MenuModels>();
                    MenuLists = _GetMenu.Menu(ViewBag.HAKAKSES);
                 }

                 @BuildMenu(MenuLists)

                 @helper  BuildMenu(List<MenuModels> MenuLists, int? parentid = null)
                 {
                    var items = MenuLists.Where(m => m.Menu_Parent_ID == parentid).OrderBy(n => n.Menu_URUT);

                    if (items.Any())
                    {
                        foreach (var item in items)
                        {
                            var countChild = MenuLists.Where(m => m.Menu_Parent_ID == item.Menu_ID);
                            <li class="nav-item">
                                <a href="@Url.Action(@item.Menu_Url,  @item.Menu_Alias)" class="nav-link ">
                                    <i class="@item.Menu_Icon"></i>
                                    <span class="title">@item.Menu_Nama</span>
                                    @if (countChild.Count() != 0) {   
                                        <span class="arrow"></span>
                                    }
                                </a>
                                @if (countChild.Count() != 0)
                                {
                                    <ul class="sub-menu">
                                        @BuildMenu(MenuLists, item.Menu_ID)
                                    </ul>
                                }
                            </li>
                        }
                    }
                }
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>

        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="page-footer">
        <div class="page-footer-inner">
            &copy; 2016 -  @DateTime.Today.Year - PT Pelabuhan Indonesia III (Persero)
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    @RenderSection("scripts", required: false)
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets/global/scripts/app.js" type="text/javascript"></script>
    <script src="~/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Shared/_Layout.js" type="text/javascript"></script>
    @Html.Partial("_Toastr")
    <!-- END THEME LAYOUT SCRIPTS -->

    <script>
         @functions{
            public string GetAntiForgeryToken()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + "," + formToken;
            }
         }
    </script>
</body>
</html>