﻿td.details-control {
    background: url('../img/plus.png') no-repeat center center;
    background-size:15px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/minus.png') no-repeat center center;
    background-size:15px;
}
td.details2-control {
 
    cursor: pointer;
}