﻿@{
    ViewData["Title"] = "Page Can't Be Found";
    Layout = "~/Views/Account/Error/_Layout.cshtml";
}
<div class="col-12">
    <div class="card card-transparent mx-auto text-center">
        <h1 class="text-secondary lh-1" style="font-size: 200px">404</h1>
        <hr class="w-30px">
        <h3 class="text-uppercase">Page Can't be Found!</h3>
        <p class="lead">Seems you're looking for something that doesn't exist.</p>
        <br>
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center fs-14">
            @*<li class="nav-item">
                    <a class="nav-link" href="#">Report problem</a>
                </li>*@
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onClick="backAway()">Get Back</a>
            </li>
        </ul>
    </div>
</div>