﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="theme-color" content="#ffffff" />
    <title>@ViewData["Title"] | PT. Pelindo III</title>

    <!-- PWA -->
    <link rel="manifest" href="~/manifest.json" />

    <!-- Styles -->
    <link rel="stylesheet" href="~/core/css/core.min.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/core/css/app.css" asp-append-version="false" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/media/img/apple-touch-icon.png">
    <link rel="icon" href="~/favicon.ico">
</head>
<body>

    <div class="row no-margin h-fullscreen" style="padding-top: 10%">

        @RenderBody()

        <!-- Footer -->
        <footer class="col-12 align-self-end text-center fs-13">
            <p>Copyright © 2017 <a href="https://pelindo.co.id"> PT. Pelabuhan IndonesiaIII (Persero)</a>. All rights reserved.</p>
        </footer>
        <!-- END Footer -->
    </div>

    <!-- END Main container -->
    <!-- Scripts -->
    <script src="~/core/js/core.min.js" asp-append-version="false"></script>

    <script>
        function backAway() {
            if (history.length === 1) {
                window.location = "/"
            } else {
                history.back();
            }
        }
    </script>
</body>
</html>
