﻿@model string
@using MyApplication.Models

<form asp-action="DeleteApplicationRole" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Application Role" })

    <div class="modal-body form-horizontal">
        Are you want to delete @Model?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>

