/*
  PALETTE COLOR

  Base light : #59BFFF;
  Base Dark : #6AADFF;

  Accent Light : #F3B3A0;
  Accent Dark : #EB987F;

  light : #B8B8B8;
  Middle : #6A6A6A;
  Dark : #575757;

  Magenta : #9576CE;
*/
.grad-blue {
  background: #59BFFF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #59BFFF, #5D9AE6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #59BFFF, #5D9AE6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #59BFFF, #5D9AE6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #59BFFF, #5D9AE6);
  /* Standard syntax */ }

.rounded {
  border-radius: 24px !important; }

.mr-10 {
  margin-right: 10px; }

.bottom {
  position: absolute;
  bottom: 1em; }

.img-thumbnail-sidebar {
  max-width: 50% !important;
  border-radius: 32px; }


/* Spinner */
.spinner {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 6px solid;
    border-top-color: #48b0f7;
    border-bottom-color: #48b0f7;
    border-left-color: rgba(0, 90, 156, 0.15);
    border-right-color: rgba(0, 90, 156, 0.15);
    -webkit-animation: spinner 0.8s ease-in-out infinite alternate;
    animation: spinner 0.8s ease-in-out infinite alternate;
}

@keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}
