﻿@model IEnumerable<MyApplication.Models.Permission>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Menus</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createMenuModal" asp-action="Create"  class="btn btn-primary">
                <i class="fa fa-plus"></i>  Add Permission
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a id="edit" asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-info">
                                <i class="fa fa-pencil"></i>  Edit
                            </a>
                            <a id="details" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">
                                <i class="fa fa-eye"></i>  View
                            </a>
                            <a id="delete" asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-danger">
                                <i class="fa fa-trash"></i>  Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
