﻿<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="font-red-sunglo"></i>
                    <span class="caption-subject font-blue bold uppercase">Reset Password</span>
                    <span class="caption-helper">Silahkan Ganti Password Anda</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                                <label class="col-md-3">Password Lama </label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" id="oldpassword" />
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Password Baru </label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" id="newpassword" name="newpassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Ulangi Password </label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right col-md-9">
                                <button type="button" id="btn-reset-password" class="btn green">Simpan</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="alert alert-danger" id="divErr">
                <h4><i class="icon fa fa-warning"></i> Warning</h4>
                <label id="lblError"></label>
            </div>
            <div class="alert alert-success" id="divSuc">
                <h4><i class="icon fa fa-info"></i> Success</h4>
                <label id="lblSuccess"></label>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<script src="~/assets/js/reset-password.js" type="text/javascript"></script>