﻿@model IEnumerable<MyApplication.Entities.ApplicationRoleMenu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Assigment Privileges</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createMenuModal"  asp-action="Create"   class="btn btn-primary">
                <i class="fa fa-plus"></i>  Add Privilege
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        KD_CABANG
                    </th>
                    <th>
                        KD_TERMINAL
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kd_cabang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kd_Terminal)
                        </td>
                        <td>
                            <a id="edit" data-toggle="modal" asp-action="Edit" asp-route-id="@item.Id" data-target="#modal-action-menu"
                               class="btn btn-info">
                                <i class="fa fa-pencil"></i>  Edit
                            </a>
                            <a id="details" data-toggle="modal" asp-action="Details" asp-route-id="@item.Id" data-target="#modal-action-menu"
                               class="btn btn-success">
                                <i class="fa fa-eye"></i>  View
                            </a>
                            <a id="delete" data-toggle="modal" asp-action="Delete" asp-route-id="@item.Id" data-target="#modal-action-menu" class="btn btn-danger">
                                <i class="fa fa-trash"></i>  Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

